# Python
*.pyc
*.pyo
__pycache__/

# Ambiente virtual
venv/
env/

# Arquivos de configuração sensíveis
.env

# Arquivos de log
*.log

# Diretórios e arquivos específicos do Flask
migrations/
*.sqlite3

# IDEs e editores
.vscode/
.idea/

# Dependências do projeto
*.egg-info/
dist/
build/
